{% extends "comercial/base.html" %}
{% block content %}

<div style="width: 100%;">
<div id="mapdata" style="width: 50%; height: 30%;" />
	<table align="left" style="width:100%" class="table table-hover table-bordered table-sm">	
		<thead>
			<th style="color:black;font-size:30px;" >Información</th>
		</thead>	
	  <tbody class="bg-danger">
	  	{% for key, value in data.items %}
	    <tr>
	      <td style="color:black;font-size:10px;width:25%;">{{key}}</td>
	      <td style="color:black;font-size:10px;width:25%;">{{value}}</td>
	    {% endfor %}
	</table>
</div>

<div id="map" style="width: 800px; height: 400px;" />
    {{ mapa|safe }}
</div>
</div>
{% endblock content %}
